<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
    {{!-- <script src="/js/validator.min.js" type="text/javascript"></script>
    <script src="/js/postvalid.js" type="text/javascript"></script> --}}
</head>
<body>

    {{!-- NAVBARS START --}}
    <div id='navlog'>
        {{>navlog}}
    </div>
    <div id='navadmin'>
        {{>navadmin}}
    </div>
    <div id='nav'>
        {{>nav}}
    </div>
    {{!-- NAVBARS END --}}

	<!-- ABOUT US -->
	<section id="signup">
        <div class="signpic"></div>
        <div class="signtext">
            <h2 style="color:#dbdbdb; font-size: 24px;">Add post</h2><br>
            <h4 style="color: #dbdbdb; font-size: 16px;">Add to our discussions</h4>
            <form style="color: #dbdbdb; margin-top: 7vh;" id="create" action="/createpost" method="POST">
                <label>Discussion Title</label>
                <input type="text" placeholder="Title (e.g. [Martial Law] Why many people hate Marcos?)" name="dtitle" id="title">
                <p id="titleError" class="error">{{titleError}}</p>
                <label>Article</label>
                <textarea name="darticle" name="newarticle" id="article"placeholder="Write your discussion here...."></textarea>
                <p id="articleError" class="error">{{articleError}}</p>
                <input type="submit" id="submit" value="SUBMIT" class="logbutton">
            </form>
        </div>
    </section>

</body>
</html>