<!DOCTYPE html>
<head>
    {{>head}}
    <title>Saranggola</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id='navlog'>
        {{>navlog}}
    </div>
    <div id='navadmin'>
        {{>navadmin}}
    </div>
    <div id='nav'>
        {{>nav}}
    </div>
    {{!-- NAVBARS END --}}

    {{>intro}}
</body>
</html>