/* ======================================= Section: Home ======================================== */

section {
    width: 100vw;
    /*height: 100vh;*/
}
section#intro{
    padding:0;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
}